streamlit
langchain
langchain-groq
langchain-community
gtts
faiss-cpu
python-dotenv
beautifulsoup4
lxml
streamlit
langchain
langchain-community
langchain-groq
faiss-cpu
gtts
python-dotenv
beautifulsoup4
requests
tqdm
